<!DOCTYPE html>
<html>
<head>
    <title>ESP32 Servo Control Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/dashboard.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
</head>
<body>
    <div class="container">
        <h1>🎛️ ESP32 Servo Control Dashboard</h1>
        
        <div id="devices" hx-get="/fragments/devices" hx-trigger="load, every 2s" hx-target="#devices" hx-swap="outerHTML">
            <p>Loading devices...</p>
        </div>
        <div id="servo_rotate" hx-get="/fragments/servo_rotate" hx-trigger="load" hx-target="#servo_rotate" hx-swap="outerHTML">
            <p>Loading servo rotate...</p>
        </div>
    </div>


</body>
</html>
