#ifndef CONFIG_H
// --------- ARDUINO -----------------------------------------------
#define SERIAL_BAUD_RATE 115200

// --------- Wi-Fi -------------------------------------------------
#define WIFI_SSID ""
#define WIFI_PASS ""
#define WIFI_CONNECT_RETRIES 30
#define WIFI_RETRY_DELAY_MS 500

// --------- MQTT --------------------------------------------------
#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_DEVICE_ID "esp32_servo_[device_num]"
#define MQTT_RETRY_DELAY_MS 5000

// -------- SERVO --------------------------------------------------
#define SERVO_PIN 3
#endif
